In [1]:
import pandas as pd

In [13]:
data_set = pd.read_csv('./Data/5G_Network_QoS_USA.csv')
data_set

,Date time,User_ID,Application_Type,Signal_Strength,Latency,Required_Bandwidth,Resource_Allocation
0,2023-07-10 04:37:49,USER_7023,Streaming,-112,167,14.0,47
1,2023-09-04 09:21:08,USER_9847,Navigation,-78,89,75.0,29
2,2023-10-21 10:52:14,USER_9712,Appel Vidéo,-93,6,77.0,18
3,2023-02-21 15:23:44,USER_4859,Appel Vidéo,Invalid,146,74.0,23
4,2023-01-12 05:33:12,USER_4692,Navigation,-82,138,NaN,NaN
...,...,...,...,...,...,...,...
4995,2022-01-03 03:11:55,USER_6180,Streaming,-49,24,44.0,29
4996,2023-08-15 22:26:35,USER_7653,Navigation,-82,5000,34.0,7
4997,2024-02-18 10:11:20,USER_3317,Navigation,-86,5000,52.0,44
4998,2022-02-03 19:01:13,USER_6397,NaN,999,-10,44.0,78
4999,2023-03-31 19:36:46,USER_7363,Streaming,-109,68,96.0,51

In [8]:
data_set.head()

,Date time,User_ID,Application_Type,Signal_Strength,Latency,Required_Bandwidth,Resource_Allocation
0,2023-07-10 04:37:49,USER_7023,Streaming,-112,167,14.0,47
1,2023-09-04 09:21:08,USER_9847,Navigation,-78,89,75.0,29
2,2023-10-21 10:52:14,USER_9712,Appel Vidéo,-93,6,77.0,18
3,2023-02-21 15:23:44,USER_4859,Appel Vidéo,Invalid,146,74.0,23
4,2023-01-12 05:33:12,USER_4692,Navigation,-82,138,NaN,NaN

In [9]:
data_set.describe()

       Required_Bandwidth
count         4618.000000
mean           467.505197
std           2001.769103
min             -5.000000
25%             23.000000
50%             50.000000
75%             76.000000
max           9999.000000

In [10]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date time            4849 non-null   object
 1   User_ID              4820 non-null   object
 2   Application_Type     4135 non-null   object
 3   Signal_Strength      4837 non-null   object
 4   Latency              4814 non-null   object
 5   Required_Bandwidth   4618 non-null   float64
 6   Resource_Allocation  4807 non-null   object
dtypes: float64(1), object(6)
memory usage: 273.6+ KB

In [12]:
print(data_set.isnull().sum())

Date time              151
User_ID                180
Application_Type       865
Signal_Strength        163
Latency                186
Required_Bandwidth     382
Resource_Allocation    193
dtype: int64